<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djz.self.modules.basic.mapper.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.djz.self.modules.basic.domain.Resource" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="url_prefix" property="urlPrefix" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="route_type" property="routeType" jdbcType="VARCHAR" />
    <result column="module_path" property="modulePath" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="resource_type" property="resourceType" jdbcType="VARCHAR" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="display_order" property="displayOrder" jdbcType="DECIMAL" />
    <result column="node_level" property="nodeLevel" jdbcType="INTEGER" />
    <result column="modulemethod" property="modulemethod" jdbcType="VARCHAR" />
    <result column="urltarget" property="urltarget" jdbcType="VARCHAR" />
    <result column="sys" property="sys" jdbcType="SMALLINT" />
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
    <result column="updator_id" property="updatorId" jdbcType="VARCHAR" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, code, parent_id, parent_code, path, resource_name, url, url_prefix, remark, route_type, 
    module_path, image, resource_type, permission, display_order, node_level, modulemethod, 
    urltarget, sys, creator_id, updator_id, creator_name, operator_name, create_time, 
    operate_time, status
  </sql>
  <sql id="All_COLUMNS_QUERY" >
    <trim prefix="WHERE" prefixOverrides="AND | OR" >
      <if test="null != id" >
         AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != code" >
         AND code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="null != parentId" >
         AND parent_id = #{parentId,jdbcType=BIGINT}
      </if>
      <if test="null != parentCode" >
         AND parent_code = #{parentCode,jdbcType=VARCHAR}
      </if>
      <if test="null != path" >
         AND path = #{path,jdbcType=VARCHAR}
      </if>
      <if test="null != resourceName" >
         AND resource_name = #{resourceName,jdbcType=VARCHAR}
      </if>
      <if test="null != url" >
         AND url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="null != urlPrefix" >
         AND url_prefix = #{urlPrefix,jdbcType=VARCHAR}
      </if>
      <if test="null != remark" >
         AND remark = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="null != routeType" >
         AND route_type = #{routeType,jdbcType=VARCHAR}
      </if>
      <if test="null != modulePath" >
         AND module_path = #{modulePath,jdbcType=VARCHAR}
      </if>
      <if test="null != image" >
         AND image = #{image,jdbcType=VARCHAR}
      </if>
      <if test="null != resourceType" >
         AND resource_type = #{resourceType,jdbcType=VARCHAR}
      </if>
      <if test="null != permission" >
         AND permission = #{permission,jdbcType=VARCHAR}
      </if>
      <if test="null != displayOrder" >
         AND display_order = #{displayOrder,jdbcType=DECIMAL}
      </if>
      <if test="null != nodeLevel" >
         AND node_level = #{nodeLevel,jdbcType=INTEGER}
      </if>
      <if test="null != modulemethod" >
         AND modulemethod = #{modulemethod,jdbcType=VARCHAR}
      </if>
      <if test="null != urltarget" >
         AND urltarget = #{urltarget,jdbcType=VARCHAR}
      </if>
      <if test="null != sys" >
         AND sys = #{sys,jdbcType=SMALLINT}
      </if>
      <if test="null != creatorId" >
         AND creator_id = #{creatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != updatorId" >
         AND updator_id = #{updatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != creatorName" >
         AND creator_name = #{creatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != operatorName" >
         AND operator_name = #{operatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != createTime" >
         AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != operateTime" >
         AND operate_time = #{operateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != status" >
         AND status = #{status,jdbcType=SMALLINT}
      </if>
    </trim>
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="com.djz.self.modules.basic.domain.Resource" >
    select  * from sys_resource 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="list" resultMap="BaseResultMap" parameterType="com.djz.self.modules.basic.domain.Resource" >
    select  * from sys_resource 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="pageList" resultMap="BaseResultMap" parameterType="com.djz.self.modules.basic.domain.Resource" >
    select  * from sys_resource 
    <include refid="All_COLUMNS_QUERY" />
  </select>
</mapper>