<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djz.self.modules.basic.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.djz.self.modules.basic.domain.Role" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="display_order" property="displayOrder" jdbcType="DECIMAL" />
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
    <result column="updator_id" property="updatorId" jdbcType="VARCHAR" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.djz.self.modules.basic.domain.Role" extends="BaseResultMap" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, code, role_name, display_order, creator_id, updator_id, creator_name, operator_name, 
    create_time, operate_time, status
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    remark
  </sql>
  <sql id="All_COLUMNS_QUERY" >
    <trim prefix="WHERE" prefixOverrides="AND | OR" >
      <if test="null != id" >
         AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != code" >
         AND code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="null != roleName" >
         AND role_name = #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="null != displayOrder" >
         AND display_order = #{displayOrder,jdbcType=DECIMAL}
      </if>
      <if test="null != creatorId" >
         AND creator_id = #{creatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != updatorId" >
         AND updator_id = #{updatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != creatorName" >
         AND creator_name = #{creatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != operatorName" >
         AND operator_name = #{operatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != createTime" >
         AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != operateTime" >
         AND operate_time = #{operateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != status" >
         AND status = #{status,jdbcType=SMALLINT}
      </if>
      <if test="null != remark" >
         AND remark = #{remark,jdbcType=LONGVARCHAR}
      </if>
    </trim>
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="com.djz.self.modules.basic.domain.Role" >
    select  * from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="list" resultMap="BaseResultMap" parameterType="com.djz.self.modules.basic.domain.Role" >
    select  * from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="pageList" resultMap="BaseResultMap" parameterType="com.djz.self.modules.basic.domain.Role" >
    select  * from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
</mapper>