<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djz.self.modules.basic.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.djz.self.modules.basic.domain.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="SMALLINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
    <result column="updator_id" property="updatorId" jdbcType="VARCHAR" />
    <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="default_theme" property="defaultTheme" jdbcType="VARCHAR" />
    <result column="last_ip" property="lastIp" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="superman" property="superman" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, code, user_name, real_name, password, age, email, sex, phone, creator_id, updator_id, 
    creator_name, operator_name, default_theme, last_ip, last_time, create_time, operate_time, 
    status, superman
  </sql>
  <sql id="All_COLUMNS_QUERY" >
    <trim prefix="WHERE" prefixOverrides="AND | OR" >
      <if test="null != id" >
         AND id = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != code" >
         AND code = #{code,jdbcType=VARCHAR}
      </if>
      <if test="null != userName" >
         AND user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="null != realName" >
         AND real_name = #{realName,jdbcType=VARCHAR}
      </if>
      <if test="null != password" >
         AND password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="null != age" >
         AND age = #{age,jdbcType=INTEGER}
      </if>
      <if test="null != email" >
         AND email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="null != sex" >
         AND sex = #{sex,jdbcType=SMALLINT}
      </if>
      <if test="null != phone" >
         AND phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="null != creatorId" >
         AND creator_id = #{creatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != updatorId" >
         AND updator_id = #{updatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != creatorName" >
         AND creator_name = #{creatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != operatorName" >
         AND operator_name = #{operatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != defaultTheme" >
         AND default_theme = #{defaultTheme,jdbcType=VARCHAR}
      </if>
      <if test="null != lastIp" >
         AND last_ip = #{lastIp,jdbcType=VARCHAR}
      </if>
      <if test="null != lastTime" >
         AND last_time = #{lastTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != createTime" >
         AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != operateTime" >
         AND operate_time = #{operateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != status" >
         AND status = #{status,jdbcType=SMALLINT}
      </if>
      <if test="null != superman" >
         AND superman = #{superman,jdbcType=SMALLINT}
      </if>
    </trim>
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="com.djz.self.modules.basic.domain.User" >
    select  * from sys_user 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="list" resultMap="BaseResultMap" parameterType="com.djz.self.modules.basic.domain.User" >
    select  * from sys_user 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="pageList" resultMap="BaseResultMap" parameterType="com.djz.self.modules.basic.domain.User" >
    select  * from sys_user 
    <include refid="All_COLUMNS_QUERY" />
  </select>
</mapper>