<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djz.self.entity.basic.mapper.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.djz.self.entity.basic.Resource" >
    <constructor >
      <idArg column="ID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PARENTID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="PARENT_CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PATH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RESOURCENAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="URL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="URLPREFIX" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="REMARK" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ROUTETYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MODULEPATH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IMAGE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RESOURCETYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PERMISSION" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DISPLAYORDER" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="NODELEVEL" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="MODULEMETHOD" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="URLTARGET" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SYS" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="CREATOR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATOR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATOR_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OPERATOR_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="OPERATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="STATUS" jdbcType="SMALLINT" javaType="java.lang.Short" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CODE, PARENTID, PARENT_CODE, PATH, RESOURCENAME, URL, URLPREFIX, REMARK, ROUTETYPE, 
    MODULEPATH, IMAGE, RESOURCETYPE, PERMISSION, DISPLAYORDER, NODELEVEL, MODULEMETHOD, 
    URLTARGET, SYS, CREATOR_ID, UPDATOR_ID, CREATOR_NAME, OPERATOR_NAME, CREATE_TIME, 
    OPERATE_TIME, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_resource
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.djz.self.entity.basic.Resource" >
    insert into sys_resource (ID, CODE, PARENTID, 
      PARENT_CODE, PATH, RESOURCENAME, 
      URL, URLPREFIX, REMARK, 
      ROUTETYPE, MODULEPATH, IMAGE, 
      RESOURCETYPE, PERMISSION, DISPLAYORDER, 
      NODELEVEL, MODULEMETHOD, URLTARGET, 
      SYS, CREATOR_ID, UPDATOR_ID, 
      CREATOR_NAME, OPERATOR_NAME, CREATE_TIME, 
      OPERATE_TIME, STATUS)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{parentid,jdbcType=BIGINT}, 
      #{parentCode,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{resourcename,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{urlprefix,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{routetype,jdbcType=VARCHAR}, #{modulepath,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{resourcetype,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR}, #{displayorder,jdbcType=DECIMAL}, 
      #{nodelevel,jdbcType=INTEGER}, #{modulemethod,jdbcType=VARCHAR}, #{urltarget,jdbcType=VARCHAR}, 
      #{sys,jdbcType=SMALLINT}, #{creatorId,jdbcType=VARCHAR}, #{updatorId,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.djz.self.entity.basic.Resource" >
    insert into sys_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="parentid != null" >
        PARENTID,
      </if>
      <if test="parentCode != null" >
        PARENT_CODE,
      </if>
      <if test="path != null" >
        PATH,
      </if>
      <if test="resourcename != null" >
        RESOURCENAME,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="urlprefix != null" >
        URLPREFIX,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="routetype != null" >
        ROUTETYPE,
      </if>
      <if test="modulepath != null" >
        MODULEPATH,
      </if>
      <if test="image != null" >
        IMAGE,
      </if>
      <if test="resourcetype != null" >
        RESOURCETYPE,
      </if>
      <if test="permission != null" >
        PERMISSION,
      </if>
      <if test="displayorder != null" >
        DISPLAYORDER,
      </if>
      <if test="nodelevel != null" >
        NODELEVEL,
      </if>
      <if test="modulemethod != null" >
        MODULEMETHOD,
      </if>
      <if test="urltarget != null" >
        URLTARGET,
      </if>
      <if test="sys != null" >
        SYS,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="updatorId != null" >
        UPDATOR_ID,
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME,
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=BIGINT},
      </if>
      <if test="parentCode != null" >
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="resourcename != null" >
        #{resourcename,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlprefix != null" >
        #{urlprefix,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="routetype != null" >
        #{routetype,jdbcType=VARCHAR},
      </if>
      <if test="modulepath != null" >
        #{modulepath,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="resourcetype != null" >
        #{resourcetype,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="displayorder != null" >
        #{displayorder,jdbcType=DECIMAL},
      </if>
      <if test="nodelevel != null" >
        #{nodelevel,jdbcType=INTEGER},
      </if>
      <if test="modulemethod != null" >
        #{modulemethod,jdbcType=VARCHAR},
      </if>
      <if test="urltarget != null" >
        #{urltarget,jdbcType=VARCHAR},
      </if>
      <if test="sys != null" >
        #{sys,jdbcType=SMALLINT},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null" >
        #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.djz.self.entity.basic.Resource" >
    update sys_resource
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        PARENTID = #{parentid,jdbcType=BIGINT},
      </if>
      <if test="parentCode != null" >
        PARENT_CODE = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="resourcename != null" >
        RESOURCENAME = #{resourcename,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlprefix != null" >
        URLPREFIX = #{urlprefix,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="routetype != null" >
        ROUTETYPE = #{routetype,jdbcType=VARCHAR},
      </if>
      <if test="modulepath != null" >
        MODULEPATH = #{modulepath,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        IMAGE = #{image,jdbcType=VARCHAR},
      </if>
      <if test="resourcetype != null" >
        RESOURCETYPE = #{resourcetype,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        PERMISSION = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="displayorder != null" >
        DISPLAYORDER = #{displayorder,jdbcType=DECIMAL},
      </if>
      <if test="nodelevel != null" >
        NODELEVEL = #{nodelevel,jdbcType=INTEGER},
      </if>
      <if test="modulemethod != null" >
        MODULEMETHOD = #{modulemethod,jdbcType=VARCHAR},
      </if>
      <if test="urltarget != null" >
        URLTARGET = #{urltarget,jdbcType=VARCHAR},
      </if>
      <if test="sys != null" >
        SYS = #{sys,jdbcType=SMALLINT},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null" >
        UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.djz.self.entity.basic.Resource" >
    update sys_resource
    set CODE = #{code,jdbcType=VARCHAR},
      PARENTID = #{parentid,jdbcType=BIGINT},
      PARENT_CODE = #{parentCode,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      RESOURCENAME = #{resourcename,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      URLPREFIX = #{urlprefix,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ROUTETYPE = #{routetype,jdbcType=VARCHAR},
      MODULEPATH = #{modulepath,jdbcType=VARCHAR},
      IMAGE = #{image,jdbcType=VARCHAR},
      RESOURCETYPE = #{resourcetype,jdbcType=VARCHAR},
      PERMISSION = #{permission,jdbcType=VARCHAR},
      DISPLAYORDER = #{displayorder,jdbcType=DECIMAL},
      NODELEVEL = #{nodelevel,jdbcType=INTEGER},
      MODULEMETHOD = #{modulemethod,jdbcType=VARCHAR},
      URLTARGET = #{urltarget,jdbcType=VARCHAR},
      SYS = #{sys,jdbcType=SMALLINT},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=SMALLINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>