<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djz.self.entity.basic.mapper.RoleResourceMapper" >
  <resultMap id="BaseResultMap" type="com.djz.self.entity.basic.RoleResource" >
    <constructor >
      <arg column="ROLEID" jdbcType="BIGINT" javaType="java.lang.Double" />
      <arg column="RESOURCEID" jdbcType="BIGINT" javaType="java.lang.Double" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.djz.self.entity.basic.RoleResource" >
    insert into sys_role_resource (ROLEID, RESOURCEID)
    values (#{roleid,jdbcType=BIGINT}, #{resourceid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.djz.self.entity.basic.RoleResource" >
    insert into sys_role_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="resourceid != null" >
        RESOURCEID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=BIGINT},
      </if>
      <if test="resourceid != null" >
        #{resourceid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>