<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djz.self.entity.basic.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.djz.self.entity.basic.Role" >
    <constructor >
      <idArg column="ID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ROLE_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DISPLAY_ORDER" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="CREATOR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATOR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATOR_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OPERATOR_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="OPERATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="STATUS" jdbcType="SMALLINT" javaType="java.lang.Short" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.djz.self.entity.basic.Role" >
    <constructor >
      <idArg column="ID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ROLE_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DISPLAY_ORDER" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="CREATOR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATOR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATOR_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OPERATOR_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="OPERATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="STATUS" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="REMARK" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CODE, ROLE_NAME, DISPLAY_ORDER, CREATOR_ID, UPDATOR_ID, CREATOR_NAME, OPERATOR_NAME, 
    CREATE_TIME, OPERATE_TIME, STATUS
  </sql>
  <sql id="Blob_Column_List" >
    REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_role
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.djz.self.entity.basic.Role" >
    insert into sys_role (ID, CODE, ROLE_NAME, 
      DISPLAY_ORDER, CREATOR_ID, UPDATOR_ID, 
      CREATOR_NAME, OPERATOR_NAME, CREATE_TIME, 
      OPERATE_TIME, STATUS, REMARK
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{displayOrder,jdbcType=DECIMAL}, #{creatorId,jdbcType=VARCHAR}, #{updatorId,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.djz.self.entity.basic.Role" >
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="displayOrder != null" >
        DISPLAY_ORDER,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="updatorId != null" >
        UPDATOR_ID,
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME,
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null" >
        #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null" >
        #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.djz.self.entity.basic.Role" >
    update sys_role
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null" >
        DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null" >
        UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.djz.self.entity.basic.Role" >
    update sys_role
    set CODE = #{code,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=SMALLINT},
      REMARK = #{remark,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.djz.self.entity.basic.Role" >
    update sys_role
    set CODE = #{code,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=SMALLINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>