<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djz.self.entity.basic.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.djz.self.entity.basic.Role">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="DISPLAY_ORDER" jdbcType="DECIMAL" property="displayOrder" />
    <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
    <result column="UPDATOR_ID" jdbcType="VARCHAR" property="updatorId" />
    <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
    <result column="OPERATOR_NAME" jdbcType="VARCHAR" property="operatorName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="OPERATE_TIME" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="STATUS" jdbcType="SMALLINT" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.djz.self.entity.basic.Role">
    <result column="REMARK" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CODE, ROLE_NAME, DISPLAY_ORDER, CREATOR_ID, UPDATOR_ID, CREATOR_NAME, OPERATOR_NAME, 
    CREATE_TIME, OPERATE_TIME, STATUS
  </sql>
  <sql id="Blob_Column_List">
    REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_role
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.djz.self.entity.basic.Role">
    insert into sys_role (ID, CODE, ROLE_NAME, 
      DISPLAY_ORDER, CREATOR_ID, UPDATOR_ID, 
      CREATOR_NAME, OPERATOR_NAME, CREATE_TIME, 
      OPERATE_TIME, STATUS, REMARK
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{displayOrder,jdbcType=DECIMAL}, #{creatorId,jdbcType=VARCHAR}, #{updatorId,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.djz.self.entity.basic.Role">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="displayOrder != null">
        DISPLAY_ORDER,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="updatorId != null">
        UPDATOR_ID,
      </if>
      <if test="creatorName != null">
        CREATOR_NAME,
      </if>
      <if test="operatorName != null">
        OPERATOR_NAME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="operateTime != null">
        OPERATE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null">
        #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.djz.self.entity.basic.Role">
    update sys_role
    <set>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null">
        UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.djz.self.entity.basic.Role">
    update sys_role
    set CODE = #{code,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=SMALLINT},
      REMARK = #{remark,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.djz.self.entity.basic.Role">
    update sys_role
    set CODE = #{code,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=SMALLINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <sql id="All_COLUMNS_QUERY">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
         AND ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != code">
         AND CODE = #{code,jdbcType=VARCHAR}
      </if>
      <if test="null != roleName">
         AND ROLE_NAME = #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="null != displayOrder">
         AND DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL}
      </if>
      <if test="null != creatorId">
         AND CREATOR_ID = #{creatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != updatorId">
         AND UPDATOR_ID = #{updatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != creatorName">
         AND CREATOR_NAME = #{creatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != operatorName">
         AND OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != createTime">
         AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != operateTime">
         AND OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != status">
         AND STATUS = #{status,jdbcType=SMALLINT}
      </if>
      <if test="null != remark">
         AND REMARK = #{remark,jdbcType=LONGVARCHAR}
      </if>
    </trim>
  </sql>
  <select id="find" parameterType="com.djz.self.entity.basic.Role" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="list" parameterType="com.djz.self.entity.basic.Role" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="pageList" parameterType="com.djz.self.entity.basic.Role" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <resultMap id="BaseResultMap" type="com.djz.self.entity.basic.Role">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="DISPLAY_ORDER" jdbcType="DECIMAL" property="displayOrder" />
    <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
    <result column="UPDATOR_ID" jdbcType="VARCHAR" property="updatorId" />
    <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
    <result column="OPERATOR_NAME" jdbcType="VARCHAR" property="operatorName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="OPERATE_TIME" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="STATUS" jdbcType="SMALLINT" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.djz.self.entity.basic.Role">
    <result column="REMARK" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CODE, ROLE_NAME, DISPLAY_ORDER, CREATOR_ID, UPDATOR_ID, CREATOR_NAME, OPERATOR_NAME, 
    CREATE_TIME, OPERATE_TIME, STATUS
  </sql>
  <sql id="Blob_Column_List">
    REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_role
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.djz.self.entity.basic.Role">
    insert into sys_role (ID, CODE, ROLE_NAME, 
      DISPLAY_ORDER, CREATOR_ID, UPDATOR_ID, 
      CREATOR_NAME, OPERATOR_NAME, CREATE_TIME, 
      OPERATE_TIME, STATUS, REMARK
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{displayOrder,jdbcType=DECIMAL}, #{creatorId,jdbcType=VARCHAR}, #{updatorId,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.djz.self.entity.basic.Role">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="displayOrder != null">
        DISPLAY_ORDER,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="updatorId != null">
        UPDATOR_ID,
      </if>
      <if test="creatorName != null">
        CREATOR_NAME,
      </if>
      <if test="operatorName != null">
        OPERATOR_NAME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="operateTime != null">
        OPERATE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null">
        #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.djz.self.entity.basic.Role">
    update sys_role
    <set>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null">
        UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.djz.self.entity.basic.Role">
    update sys_role
    set CODE = #{code,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=SMALLINT},
      REMARK = #{remark,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.djz.self.entity.basic.Role">
    update sys_role
    set CODE = #{code,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=SMALLINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <sql id="All_COLUMNS_QUERY">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
         AND ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != code">
         AND CODE = #{code,jdbcType=VARCHAR}
      </if>
      <if test="null != roleName">
         AND ROLE_NAME = #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="null != displayOrder">
         AND DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL}
      </if>
      <if test="null != creatorId">
         AND CREATOR_ID = #{creatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != updatorId">
         AND UPDATOR_ID = #{updatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != creatorName">
         AND CREATOR_NAME = #{creatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != operatorName">
         AND OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != createTime">
         AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != operateTime">
         AND OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != status">
         AND STATUS = #{status,jdbcType=SMALLINT}
      </if>
      <if test="null != remark">
         AND REMARK = #{remark,jdbcType=LONGVARCHAR}
      </if>
    </trim>
  </sql>
  <select id="find" parameterType="com.djz.self.entity.basic.Role" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="list" parameterType="com.djz.self.entity.basic.Role" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="pageList" parameterType="com.djz.self.entity.basic.Role" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <resultMap id="BaseResultMap" type="com.djz.self.entity.basic.Role">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="DISPLAY_ORDER" jdbcType="DECIMAL" property="displayOrder" />
    <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
    <result column="UPDATOR_ID" jdbcType="VARCHAR" property="updatorId" />
    <result column="CREATOR_NAME" jdbcType="VARCHAR" property="creatorName" />
    <result column="OPERATOR_NAME" jdbcType="VARCHAR" property="operatorName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="OPERATE_TIME" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="STATUS" jdbcType="SMALLINT" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.djz.self.entity.basic.Role">
    <result column="REMARK" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CODE, ROLE_NAME, DISPLAY_ORDER, CREATOR_ID, UPDATOR_ID, CREATOR_NAME, OPERATOR_NAME, 
    CREATE_TIME, OPERATE_TIME, STATUS
  </sql>
  <sql id="Blob_Column_List">
    REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_role
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.djz.self.entity.basic.Role">
    insert into sys_role (ID, CODE, ROLE_NAME, 
      DISPLAY_ORDER, CREATOR_ID, UPDATOR_ID, 
      CREATOR_NAME, OPERATOR_NAME, CREATE_TIME, 
      OPERATE_TIME, STATUS, REMARK
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{displayOrder,jdbcType=DECIMAL}, #{creatorId,jdbcType=VARCHAR}, #{updatorId,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=SMALLINT}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.djz.self.entity.basic.Role">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="displayOrder != null">
        DISPLAY_ORDER,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="updatorId != null">
        UPDATOR_ID,
      </if>
      <if test="creatorName != null">
        CREATOR_NAME,
      </if>
      <if test="operatorName != null">
        OPERATOR_NAME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="operateTime != null">
        OPERATE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null">
        #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.djz.self.entity.basic.Role">
    update sys_role
    <set>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null">
        UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null">
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.djz.self.entity.basic.Role">
    update sys_role
    set CODE = #{code,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=SMALLINT},
      REMARK = #{remark,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.djz.self.entity.basic.Role">
    update sys_role
    set CODE = #{code,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=SMALLINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <sql id="All_COLUMNS_QUERY">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
         AND ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != code">
         AND CODE = #{code,jdbcType=VARCHAR}
      </if>
      <if test="null != roleName">
         AND ROLE_NAME = #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="null != displayOrder">
         AND DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL}
      </if>
      <if test="null != creatorId">
         AND CREATOR_ID = #{creatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != updatorId">
         AND UPDATOR_ID = #{updatorId,jdbcType=VARCHAR}
      </if>
      <if test="null != creatorName">
         AND CREATOR_NAME = #{creatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != operatorName">
         AND OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR}
      </if>
      <if test="null != createTime">
         AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != operateTime">
         AND OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != status">
         AND STATUS = #{status,jdbcType=SMALLINT}
      </if>
      <if test="null != remark">
         AND REMARK = #{remark,jdbcType=LONGVARCHAR}
      </if>
    </trim>
  </sql>
  <select id="find" parameterType="com.djz.self.entity.basic.Role" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="list" parameterType="com.djz.self.entity.basic.Role" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
  <select id="pageList" parameterType="com.djz.self.entity.basic.Role" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from sys_role 
    <include refid="All_COLUMNS_QUERY" />
  </select>
</mapper>