<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djz.self.entity.basic.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.djz.self.entity.basic.User" >
    <constructor >
      <idArg column="ID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="CODE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="USER_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="REAL_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PASSWORD" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="AGE" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="EMAIL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SEX" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="PHONE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATOR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATOR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATOR_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OPERATOR_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DEFAULT_THEME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LAST_IP" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LAST_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="OPERATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="STATUS" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="SUPERMAN" jdbcType="SMALLINT" javaType="java.lang.Short" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CODE, USER_NAME, REAL_NAME, PASSWORD, AGE, EMAIL, SEX, PHONE, CREATOR_ID, UPDATOR_ID, 
    CREATOR_NAME, OPERATOR_NAME, DEFAULT_THEME, LAST_IP, LAST_TIME, CREATE_TIME, OPERATE_TIME, 
    STATUS, SUPERMAN
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.djz.self.entity.basic.User" >
    insert into sys_user (ID, CODE, USER_NAME, 
      REAL_NAME, PASSWORD, AGE, 
      EMAIL, SEX, PHONE, 
      CREATOR_ID, UPDATOR_ID, CREATOR_NAME, 
      OPERATOR_NAME, DEFAULT_THEME, LAST_IP, 
      LAST_TIME, CREATE_TIME, OPERATE_TIME, 
      STATUS, SUPERMAN)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{sex,jdbcType=SMALLINT}, #{phone,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=VARCHAR}, #{updatorId,jdbcType=VARCHAR}, #{creatorName,jdbcType=VARCHAR}, 
      #{operatorName,jdbcType=VARCHAR}, #{defaultTheme,jdbcType=VARCHAR}, #{lastIp,jdbcType=VARCHAR}, 
      #{lastTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=SMALLINT}, #{superman,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.djz.self.entity.basic.User" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="realName != null" >
        REAL_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="updatorId != null" >
        UPDATOR_ID,
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME,
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME,
      </if>
      <if test="defaultTheme != null" >
        DEFAULT_THEME,
      </if>
      <if test="lastIp != null" >
        LAST_IP,
      </if>
      <if test="lastTime != null" >
        LAST_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="superman != null" >
        SUPERMAN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null" >
        #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="defaultTheme != null" >
        #{defaultTheme,jdbcType=VARCHAR},
      </if>
      <if test="lastIp != null" >
        #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="superman != null" >
        #{superman,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.djz.self.entity.basic.User" >
    update sys_user
    <set >
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        REAL_NAME = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="updatorId != null" >
        UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null" >
        OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="defaultTheme != null" >
        DEFAULT_THEME = #{defaultTheme,jdbcType=VARCHAR},
      </if>
      <if test="lastIp != null" >
        LAST_IP = #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null" >
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null" >
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=SMALLINT},
      </if>
      <if test="superman != null" >
        SUPERMAN = #{superman,jdbcType=SMALLINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.djz.self.entity.basic.User" >
    update sys_user
    set CODE = #{code,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      REAL_NAME = #{realName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=INTEGER},
      EMAIL = #{email,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=SMALLINT},
      PHONE = #{phone,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      UPDATOR_ID = #{updatorId,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      DEFAULT_THEME = #{defaultTheme,jdbcType=VARCHAR},
      LAST_IP = #{lastIp,jdbcType=VARCHAR},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=SMALLINT},
      SUPERMAN = #{superman,jdbcType=SMALLINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>