<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.djz.self.entity.basic.mapper.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.djz.self.entity.basic.UserRole" >
    <constructor >
      <arg column="USERID" jdbcType="BIGINT" javaType="java.lang.Double" />
      <arg column="ROLEID" jdbcType="BIGINT" javaType="java.lang.Double" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.djz.self.entity.basic.UserRole" >
    insert into sys_user_role (USERID, ROLEID)
    values (#{userid,jdbcType=BIGINT}, #{roleid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.djz.self.entity.basic.UserRole" >
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="roleid != null" >
        ROLEID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>