<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djz.self.modules.basic.mapper.RoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.djz.self.modules.basic.domain.RoleResource">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="resource_id" jdbcType="BIGINT" property="resourceId" />
  </resultMap>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into sys_role_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].roleId!=null">
        role_id,
      </if>
      <if test="list[0].resourceId!=null">
        resource_id,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.roleId!=null">
          #{item.roleId,jdbcType=BIGINT},
        </if>
        <if test="item.resourceId!=null">
          #{item.resourceId,jdbcType=BIGINT},
        </if>
      </trim>
    </foreach>
  </insert>
  <sql id="All_COLUMNS_QUERY">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != roleId">
         AND role_id = #{roleId,jdbcType=BIGINT}
      </if>
      <if test="null != resourceId">
         AND resource_id = #{resourceId,jdbcType=BIGINT}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List">
    role_id,resource_id
  </sql>
  <select id="selectList" parameterType="com.djz.self.modules.basic.domain.RoleResource" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />  from sys_role_resource 
    <include refid="All_COLUMNS_QUERY" />
  </select>
</mapper>